:root {	
	--entry-border: #601848;
	--entry-bg: #4d014c;
	--entry-title-bg: #f37239;
	--entry-info-bg: #bc4a49;	
	--main-bg: #300030;
	
	--entry-title-fcolor: var(--entry-border);
	--entry-info-fcolor:var(--entry-border);
	--entry-progress-fcolor:var(--entry-title-bg);	
	
	--main-title-fcolor:var(--entry-title-bg);
	--main-subtitle-fcolor:var(--entry-title-fcolor);
	--main-border: var(--entry-info-bg);
}

body {
	border: 8px solid var(--main-border);
	background-color:var(--main-bg);
	margin:0;
	width:1404;	
}

div.agdgHeader {	
	margin:0;
	width:1404;
	max-width:1404;
	min-width:1404;	
	height: 232;	
}

div.agdgHeader div {
	display:inline-block;
	margin-left:16px;
	font-family:"calibri";
}

div.agdgHeader h1 {
	color:var(--main-title-fcolor);
	margin:0px;
	margin-top:-8px;
	font-size:80pt;
}

div.agdgHeader h2 {
	color:var(--main-subtitle-fcolor);		
	margin:0px;	
	font-size:56pt;
}

div.agdgHeader img {
	float:right;
	display:inline-block;	
	width:200;
	height:200;
	margin:16;
}	

div.agdgRow {
	margin:0;
	display:block;		
}
div.agdgEntry {
	border: 8px solid var(--entry-border);
	overflow:hidden;
	width:300px;
	height:432px;
	display:inline-block;	
	background-color:var(--entry-bg);
	vertical-align:top;
	margin:16px;
	font-family:calibri;
}

div.agdgEntryText p {	
	font-size:9pt;	
	margin:0;
}

div.agdgEntryImage {
	width:300px;
	height:200px;
	max-height:200px;
}
div.agdgEntryImage img {	
	width:300px;
	max-height:200px;	
	position:relative;
	top:50%;
	transform: translateY(-50%);
}

p.agdgEntryTitle {
	background-color:var(--entry-title-bg);	
	font-size:13pt;
	color:var(--entry-title-fcolor);
	text-align:center;	
	margin:0;
	font-weight:bold;
}

div.agdgEntryInfo {	
	color:var(--entry-info-fcolor);
	background-color:var(--entry-info-bg);
	margin-bottom:4px;	
}

div.agdgEntryInfo p {	
	margin-left:4px;
	margin-bottom:4px;
}

div.agdgEntryProgress p {
	color:var(--entry-progress-fcolor);
	margin-left:8px;
	font-size:8pt;	
}
